@use "@styles/colors";

.home-page {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
}

.preview > img {
  width: 600px;
  object-fit: contain;
}

.introduction {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.introduction > .introduction-title {
  color: black;
  text-align: center;
}

.introduction > .introduction-content {
  color: colors.$primary-emphasis;
  text-align: center;
}
