@use "@styles/colors.scss";

header {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: end;
  align-items: end;
}

header > nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

header > nav > a {
  font-size: 1.2rem;
}

header > nav > a:hover {
  color: colors.$accent;
}

header > nav > a > img {
  width: 24px;
}
