* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

select,
input:focus {
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
}

button:active {
  background-image: radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%);
}
