$risizer-size: 3px;

#side {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  user-select: none;
  position: relative;
}

#side-resizer {
  position: absolute;
  top: 0;
  right: calc(-1 * $risizer-size / 2);
  z-index: 100;
  width: $risizer-size;
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#side-resizer:hover {
  background-color: var(--side-resizer);
}
